# extends "layout.html"

# block head
<style>
.container
{
	width: 100%;
}
.tick
{
	width: 100%;
	background-color: #ddeedd;
	padding-left: 2em;
	border: 1px dashed grey;
	display: none;
}

.graph
{
	width: 100%;
	min-height: 30em;
	border: 10px solid black;
}
.infocontainer 
{
	margin-top: 5em;
	border: 1px solid grey;
	border-radius: 20px;
}

.heading
{
	width:100%;
	height: 2em;
	background-color:#335588;
	color:#ffffff;
	padding-left: 2em;
}


{{'#'}}openpositions
{
	padding-bottom: 1.5em;
}

{{'#'}}openpositions hr
{
	margin: 0px;
}

{{'#'}}openpositions table
{
	width: 100%;
}

td.success
{
	background-color: #00ff00;
	font-weight: bold;
}

td.warning
{
	background-color: #ff0000;
	font-weight: bold;
}

.ticket
{
	margin-left: 1em;
	margin-right: 1em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	font-variant: small-caps;
	border: 1px dashed grey;
}
.ticketbuy
{
	background-color:#aaffaa;
}

.ticketsell
{
	background-color:#ffaaaa;
}

{{'#'}}experts
{
	padding-bottom: 1.5em;
	text-align: center;
}

.expert
{
	width: 9em;
	box-shadow: 10px 10px 5px #888888;
	border: 1px dashed grey;
	margin: 0.5em;
	margin-left:-1em;
	margin-bottom: 2em;
}

.expert > span
{
	float: left;
	margin-bottom: -1em;
	display: block;
	width: 100%;
	text-align: center;
	font-family: cursive, fantasy;
	font-style: oblique;
}

.expert .face
{
	width: 100%;
	font-size: 7em;
	text-align: center;
}

.expert .opinion
{
	margin-top: -1.5em;
}

.expertbubble
{
	position:absolute;
	width: 9em;
	height: 10em;
	margin-left: 10em;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid lightgrey;
	border-radius: 10px;
	text-align: left;
	padding-left: 0.5em;
	background-color: #ffffff;
}

.parameter
{
	margin-right: 1em;
}

</style>



<script type="text/javascript">
function htmlDecode(input){
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes[0].nodeValue;
}

$(document).ready(function()
{
	window.experts = [];
	window.data_points = [];
	prepareChart();
	
	window.eventOutputContainer = document.getElementById("tickercontents");
	window.eventSource = new EventSource("/ticker");
	window.eventSource.onmessage = onNewData;
	
	// normal, buy, sell, idk lol
	addExpert("karl", ["&#128559;", "&#128527;", "&#128530;", "&#128543;"]);	
	addExpert("ajeet", ["&#128115;"]);
	addExpert("atama", ["&#x1f64b;", "&#128582;", "&#128581;", "&#x1f647;"]);	
	addExpert("lika", ["&#x1f4b1;", "&#x1f4c8;", "&#x1f4c9;", "&#x1f4a4;"]);	
	addExpert("dumbo", ["&#x1f4b8;", "&#x1f44d;", "&#x1f44e;", "&#x1f440;"]); // x1f4b8, x1f445
});

function updateParameter(par, value)
{
	var pars = $("#parameters");
	var par_span = $("#parameters ." + par);
	
	if (!par_span.length)
	{
		pars.append('<span class="parameter ' + par + '">' + par + ': <tt>&nbsp;</tt></span>');
		par_span = $("#parameters ." + par);
	}
	
	par_span.children("tt").html(value);
}

function getExpert(name)
{
	for (var i = 0, ii = window.experts.length; i < ii; ++i)
	{
		var expert = window.experts[i];
		if (expert.name == name) return expert;
	}
	return null;
}

function expertSay(name, text)
{
	var expert = getExpert(name);
	var bubble = expert.element.children(".expertbubble");
	var len = bubble.children().length;
	while (len-- > 1)
		bubble.children().first().remove();
	bubble.append("<div>" + text + "</div>");
	
	if (text[0] == "@")
		addAnnotation(expert.faces[0], text);
}

function updateExpert(name, opinion, certainty)
{
	var what = "lol";
	if (opinion < 0.0) what = "sell";
	else if (opinion > 0.0) what = "buy";
	
	var howsure = ", idk";
	if (certainty > 0.9) howsure = "!!!";
	else if (certainty > 0.7) howsure = "!!";
	else if (certainty > 0.5) howsure = "!";
	else if (certainty > 0.3) howsure = "";
	else if (certainty > 0.1) howsure = "?";
	
	var face = 0;
	if (certainty < 0.1) face = 3;
	else if (opinion > 0.0 && certainty > 0.3) face = 1;
	else if (opinion < 0.0 && certainty > 0.3) face = 2;
	
	var expert = getExpert(name);
	expert.opinion = opinion;
	expert.certainty = certainty;
	expert.element.children(".opinion").text(what + howsure);
	expert.element.children(".face").html(expert.faces[face]);
}

function addExpert(name, faces)
{
	var div = '<div class="expert" id="exp_' +  name +'">';
	div = div + '<div class="expertbubble"><span>This is my good opinön:</span></div>';
	div = div + '<span>' + name + '</span>';
	div = div + '<div class="face">' + faces[0] + '</div>';
	div = div + '<div class="opinion">idk lol</div>';
	div = div + '</div>';
	$("#expertcontainer").append(div);
	var expert = 
	{
		name: name,
		faces: faces,
		opinion: 0.0,
		certainty: 0.0,
		element: $("#exp_" + name),
	};
	window.experts.push(expert);
}

function addAnnotation(title, msg)
{
	if (title[0] == "&") title = htmlDecode(title);
	var last_point = window.chart.series[0].data[window.chart.series[0].data.length - 1];
	var last_annotation;
	if (window.chart.series[1].data.length)
	{
		last_annotation = window.chart.series[1].data[window.chart.series[1].data.length - 1];
		console.log ("Try to say-----");
		console.log (last_annotation.x);
		console.log (last_point.x);
		if ((last_annotation.x == last_point.x) && (last_annotation.title == title))
		{
			last_annotation.text = last_annotation.text + "<br>" + msg;
			return;
		}
	}	
	var annotation = {
		x: last_point.x,
		title: title,
		text: msg
	};
	window.chart.series[1].addPoint(annotation, true, false);
}

function onNewData(e)
{	
	// and add to chart
	var parameters = e.data.split(" ");
	
	if (parameters[0] == "tick")
	{
		if (parameters[2] == "EURUSD")
		{
			var timestamp = parseInt(parameters[5]);
			var date = new Date(timestamp*1000);
			var mean = (parseFloat(parameters[3]) + parseFloat(parameters[4])) / 2.0;
			var lowhigh = [parseFloat(parameters[3]), parseFloat(parameters[4])];
			var point = mean;
			var x = date.getTime();
			var last_point = window.chart.series[0].data[window.chart.series[0].data.length - 1];
			if (last_point && (last_point.x == x))
			{
				last_point.update(mean);
			}
			else
			{
				//window.data_points.push(point);	
				var shift = false; //window.chart.series[0].data.length > 20;
				window.chart.series[0].addPoint([x, mean], true, shift);
			}
		}
	}
	else if (parameters[0] == "mood")
	{
		var mood = parseFloat(parameters[2]);
		var certainty = parseFloat(parameters[3]);
		updateExpert(parameters[1], mood, certainty);
	}
	else if (parameters[0] == "orders")
	{
		$("#opencontainer").replaceWith('<table id="opencontainer">&nbsp;</table>');
		var container = $("#opencontainer");
		var data = JSON.parse(e.data.substring(e.data.indexOf("[")));

		var len = data.length;
		for (var i = 0; i < len; ++i)
		{
			var json = data[i];
			
			var type = "buy";
			var symbol = "&#10169;";
			var goodjob = "success";
			
			if (json.type == 1)
			{
				type = "sell";
				symbol = "&#10167;";
			}
			if (json.profit < 0)
				goodjob = "warning"
			var div = '<tr class="ticket ticket' + type + '">';
			div = div + "<td>" + symbol + type + "</td>";
			div = div + "<td>" + json.pair + "</td>";
			div = div + '<td class="' + goodjob + '">' + json.profit + "</td>";
			div = div + '</tr>';
			container.append(div);
		}
	}
	else if (parameters[0] == "par")
	{
		updateParameter(parameters[1], parameters[2]);
	}
	else if (parameters[0] == "chat")
	{
		var len = parameters[0].length + parameters[1].length + 2;
		expertSay(parameters[1], e.data.substring(len));
	}
	else if (parameters[0] == "account")
	{
		$("#accountdata").html(e.data);
	}
	else // if not processed, just add to ticker
	{
		$(window.eventOutputContainer).prepend(
		'<div class="tick">' + 
		e.data +
		'</div>'
		);
		$(window.eventOutputContainer).children().first().show("fade");
		
		var len = $(window.eventOutputContainer).children().length;
		while (len-- > 10)
			$(window.eventOutputContainer).children().eq(len).fadeOut(500, function(){$(this).remove();});
	}
}

function prepareChart()
{
	window.chart = new Highcharts.StockChart({
			chart: {
				renderTo: 'graphcontainer',
				//defaultSeriesType: 'spline',
			},

            rangeSelector : {
                selected : 1,
                inputEnabled: $('#graphcontainer').width() > 480
            },

            title : {
                text : 'EURUSD Stock Price'
            },

            series : [{
				id : 'dataseries',
                name : 'EURUSD',
                data : [],
                tooltip: {
                    valueDecimals: 2
                },
				turboThreshold : 0
            },
			{
                type : 'flags',
				onSeries : 'dataseries',
                shape : 'circlepin',
                width : 16
			}
			]
        });
}

function prepareChartGRAPHAEL()
{
	var N = window.data_points.length;
	if (N == 0) return;
	var x_vals = Array.apply(null, {length: N}).map(Number.call, Number)
	
	$('#graphcontainer').replaceWith('<div class="graph" id="graphcontainer"></div>')
	var chartContainer = $("#graphcontainer");
	
	var r = Raphael("graphcontainer");
	var chart = r.linechart(10, 10, chartContainer.width() - 10, chartContainer.height()-30, [x_vals], [window.data_points],
	{
		nostroke: false,
		axis: "0 0 1 1",
		smooth: true, 
		dash: "-"
	});
}

</script>
# endblock

# block contents
<div class="row">

<div id="openpositions" class="col-xs-6 col-md-2 infocontainer">
<div class="heading"><h3>Open Trades</h3></div>
<hr>
<table id="opencontainer">&nbsp;</table>
</div>

<div id="experts" class="col-xs-6 col-md-2 infocontainer col-md-push-8">
<div class="heading"><h3>Experts</h3></div>
<hr>
<table id="expertcontainer">&nbsp;</table>
</div>

<div class="col-xs-12 col-md-8 col-md-pull-2">
<h1 style="width:100%">Real Time Overview<small id="accountdata" class="pull-right"></small></h1>
<h2 class="lead">Overview over money.<small> And making more money.</small></h2>
<div id="parameters"><strong>Parameters: </strong></div>
<div class="graph" id="graphcontainer">
graph goes here
</div>
<hr>
<div class="infocontainer">
	<div class="heading">
	<h3>Ticker</h3>
	</div>
	<div id="tickercontents" style="width:100%;min-height:20em;">
	<div class="tick">You are rich now, gratz</div>
	</div>
</div>
</div>
</div>
# endblock